/****** Script do comando SelectTopNRows de SSMS  ******/
INSERT INTO YELLOCLETA.DBO.EST_ESTOQUE
SELECT TOP 1000
      [LOC_ID]
      ,[PRO_ID]
      ,[EST_QTD]
      ,[FUN_ID_COLOCOU]
      ,[FUN_ID_RETIROU]
  FROM [BASE].[dbo].[Base_estoque]
  
  SELECT * FROM YELLOCLETA.DBO.EST_ESTOQUE
  
  SELECT DISTINCT MAT_ID FROM YELLOCLETA.DBO.MAT_MATERIA_PRIMA
  SELECT DISTINCT PRO_ID FROM YELLOCLETA.DBO.PRO_PRODUTO
  SELECT DISTINCT LOC_ID FROM YELLOCLETA.DBO.LOC_LOCAL